In [216]:
import numpy as np
import pandas as pd
import random
import math

In [217]:
ingredient=pd.read_csv("new_ingredient.csv")

In [218]:
ingredient

      Unnamed: 0                       ingredient
0              0                      blueberries
1              1                 granulated sugar
2              2                   vanilla yogurt
3              3                      lemon juice
4              4                          saffron
...          ...                              ...
2376        2376             dried ground cayenne
2377        2377                   glutinous rice
2378        2378             chicken curry powder
2379        2379  boneless pork butt shank steaks
2380        2380                     grape leaves

[2381 rows x 2 columns]

In [219]:
userselect="blueberries","granulated sugar","vanilla yogurt","lemon juice","saffron"

In [220]:
userselect

('blueberries', 'granulated sugar', 'vanilla yogurt', 'lemon juice', 'saffron')

In [221]:
closest=[0 for i in range(len(dataset2))]

In [222]:
dataset2.RecipeIngredientParts[0]

'blueberries, granulated sugar, vanilla yogurt, lemon juice'

In [223]:
closestindex=[]
for i in range(len(dataset2)):
    for k in range(len(userselect)):
        if userselect[k] in dataset2.RecipeIngredientParts[i]:
            closest[i]+=1
for i in range(10):
    closestindex.append(closest.index(max(closest)))
    closest[closest.index(max(closest))]=0

In [224]:
len(closest)

4080

In [240]:
def findbyingredient(userselect,dataset2):
    closest=[0 for i in range(len(dataset2))]
    closestindex=[]
    for i in range(len(dataset2)):
        for k in range(len(userselect)):
            if userselect[k] in dataset2.RecipeIngredientParts[i]:
                closest[i]+=1
    for i in range(10):
        closestindex.append(dataset2.RecipeId[closest.index(max(closest))])
        closest[closest.index(max(closest))]=0
    if len(closestindex)>20:
        return closestindex[0:20]
    else:
        return closestindex

In [241]:
userselect='lamb, parsley, fresh thyme, lemon, rind of, garlic, lemon juice, small potato, shallots, olive oil'
print(findbyingredient(userselect,dataset2))

[39, 41, 91, 109, 264, 360, 471, 503, 534, 544]

SyntaxError: unexpected EOF while parsing (<ipython-input-239-1cb2d019587c>, line 1)

In [248]:
c='35,2,3'
list(c)

['3', '5', ',', '2', ',', '3']

In [244]:
for i in range(len(c)):
    print(c[i])

1
,
2
,
3

In [287]:
dataset2=pd.read_csv("dataset2.csv")

In [288]:
dataset2.RecipeIngredientParts[1]

'saffron, milk, hot green chili peppers, onions, garlic, clove, peppercorns, cardamom seed, cumin seed, poppy seed, mace, cilantro, mint leaf, fresh lemon juice, plain yogurt, boneless chicken, salt, ghee, onion, tomatoes, basmati rice, long-grain rice, raisins, cashews, eggs'

In [289]:
dataset2.RecipeIngredientParts[42]

'lamb, parsley, fresh thyme, lemon, rind of, garlic, cracked black pepper, butter, lemon juice, small potato, shallots, olive oil'

In [290]:
data=pd.read_csv("new_output.csv")

In [291]:
data

,MyUnknownColumn,RecipeId,Name,TotalTime,Description,Images,RecipeCategory,Keywords,RecipeIngredientQuantities,RecipeIngredientParts,...,SaturatedFatContent,CholesterolContent,SodiumContent,CarbohydrateContent,FiberContent,SugarContent,ProteinContent,RecipeServings,RecipeYield,RecipeInstructions
0,0,38,Low-Fat Berry Blue Frozen Dessert,PT24H45M,Make and share this Low-Fat Berry Blue Frozen ...,https://img.sndimg.com/food/image/upload/w_555...,Frozen Desserts,"c('Dessert', 'Low Protein', 'Low Cholesterol',...","c('4', '1/4', '1', '1')","c('blueberries', 'granulated sugar', 'vanilla ...",...,1.3,8.0,29.8,37.1,3.6,30.2,3.2,4,NaN,"c('Toss 2 cups berries with sugar.', 'Let stan..."
1,1,39,Biryani,PT4H25M,Make and share this Biryani recipe from Food.com.,https://img.sndimg.com/food/image/upload/w_555...,Chicken Breast,"c('Chicken Thigh & Leg', 'Chicken', 'Poultry',...","c('1', '4', '2', '2', '8', '1/4', '8', '1/2', ...","c('saffron', 'milk', 'hot green chili peppers'...",...,16.6,372.8,368.4,84.4,9.0,20.4,63.4,6,NaN,c('Soak saffron in warm milk for 5 minutes and...
2,2,40,Best Lemonade,PT35M,This is from one of my first Good House Keepi...,https://img.sndimg.com/food/image/upload/w_555...,Beverages,"c('Low Protein', 'Low Cholesterol', 'Healthy',...","c('1 1/2', '1', NA, '1 1/2', NA, '3/4')","c('sugar', 'lemons, rind of', 'lemon, zest of'...",...,0.0,0.0,1.8,81.5,0.4,77.2,0.3,4,NaN,"c('Into a 1 quart Jar with tight fitting lid, ..."
3,3,41,Carina's Tofu-Vegetable Kebabs,PT24H20M,This dish is best prepared a day in advance to...,https://img.sndimg.com/food/image/upload/w_555...,Soy/Tofu,"c('Beans', 'Vegetable', 'Low Cholesterol', 'We...","c('12', '1', '2', '1', '10', '1', '3', '2', '2...","c('extra firm tofu', 'eggplant', 'zucchini', '...",...,3.8,0.0,1558.6,64.2,17.3,32.1,29.3,2,4 kebabs,"c('Drain the tofu, carefully squeezing out exc..."
4,4,42,Cabbage Soup,PT50M,Make and share this Cabbage Soup recipe from F...,https://img.sndimg.com/food/image/upload/w_555...,Vegetable,"c('Low Protein', 'Vegan', 'Low Cholesterol', '...","c('46', '4', '1', '2', '1')","c('plain tomato juice', 'cabbage', 'onion', 'c...",...,0.1,0.0,959.3,25.1,4.8,17.7,4.3,4,NaN,c('Mix everything together and bring to a boil...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4075,4075,10905,Dolmathes (Stuffed grape leaves),PT44M,Make and share this Dolmathes (Stuffed grape l...,character(0),One Dish Meal,"c('Lunch/Snacks', 'Rice', 'Berries', 'Grapes',...","c('1/2', '1', '1', '1', '1', '1', '1')","c('grape leaves', 'onion', 'rice', 'olive oil'...",...,7.7,0.0,1624.5,57.9,2.3,5.1,6.8,4,NaN,c('Briefly dip grape leaves in boiling water t...
4076,4076,10906,Taramosalata (Fish Roe),PT5M,Make and share this Taramosalata (Fish Roe) re...,character(0),Spreads,"c('Vegetable', 'Greek', 'Asian', 'European', '...","c('1/4', '2/3', '1', '1', '1 1/2')","c('olive oil', 'onion', 'lemons')",...,4.5,60.6,18.5,12.4,2.0,0.8,4.7,7,NaN,c('Mash the tarama the potatoes and the onion....
4077,4077,10907,Bifteki,PT16M,Make and share this Bifteki recipe from Food.com.,character(0),Lunch/Snacks,"c('Vegetable', 'Meat', 'Lebanese', 'Turkish', ...","c('2', '2', '1', '1', '1', '2', '1', NA, NA, N...","c('beef', 'pork', 'onion', 'egg', 'oregano', '...",...,38.5,155.0,81.7,6.7,0.9,1.5,12.5,7,NaN,c('Squeeze excess moisture from the bread and ...
4078,4078,10909,Giavourlakia Avgolemono (Lamb and Rice Meatballs),PT37M,Make and share this Giavourlakia Avgolemono (L...,character(0),Lunch/Snacks,"c('Lamb/Sheep', 'Rice', 'Vegetable', 'Meat', '...","c('2', '1/4', '1', '3', '2', '2', '5', '1/4 - ...","c('ground lamb', 'rice', 'onion', 'parsley', '...",...,18.0,172.5,144.0,7.4,0.3,0.8,23.9,7,NaN,"c('In a large bowl mix the meat, rice, onion, ..."
4079,4079,10912,Moustalevria (Grape Wine Pudding),PT45M,This is not my recipe - I just changed the wor...,character(0),Dessert,"c('Berries', 'Grapes', 'Fruit', 'Lebanese', 'T...","c('8', '1', '1/4', NA)","c('semolina', 'flour', 'sugar')",...,0.0,0.0,0.2,17.4,0.9,0.0,3.0,7,NaN,"c('Bring the mousto to a boil.', 'Place the as..."

In [292]:
from randomuser import RandomUser

In [293]:
user = RandomUser()

In [294]:
user_list = RandomUser.generate_users(100, {'nat': 'ca'})

In [295]:
id=[]
first_name=[]
last_name=[]
email=[]
password=[]
for i in range(len(user_list)):
    id.append(i)
    first_name.append(user_list[i].get_first_name())
    last_name.append(user_list[i].get_last_name())
    email.append(user_list[i].get_email())
    password.append(user_list[i].get_password())
user_data= pd.DataFrame(list(zip(id, first_name,last_name,email,password)),
               columns =['id','firstName','lastName','email','password'])

In [296]:
ratingDb = []
for i in range(101):
        dishLst = np.random.choice(data["RecipeId"], np.random.randint(20, 50),
                                   replace=False)
        for dish in dishLst:
            ratingDb.append([i, dish, np.random.randint(1, 5)])
ratingDb = pd.DataFrame(ratingDb, columns=['id', "dish_id", 'rating'])

In [297]:
ratingDb

       id  dish_id  rating
0       0     2823       4
1       0     1947       4
2       0     5006       2
3       0     3602       1
4       0     2541       2
...   ...      ...     ...
3579  100    10286       1
3580  100     8691       1
3581  100     8162       4
3582  100      778       3
3583  100     4269       3

[3584 rows x 3 columns]

In [298]:
ratingDb = []
for i in range(101):
        dishLst = np.random.choice(data["RecipeId"], np.random.randint(20, 50),
                                   replace=False)
        for dish in dishLst:
            ratingDb.append([i, dish, np.random.randint(1, 5)])
ratingDb = pd.DataFrame(ratingDb, columns=['id', "dish_id", 'rating'])

In [299]:
ratingDb

       id  dish_id  rating
0       0     2551       1
1       0    10016       2
2       0     3796       2
3       0     6666       4
4       0    10770       2
...   ...      ...     ...
3423  100     5102       4
3424  100     8573       4
3425  100     8716       3
3426  100     6566       4
3427    3       39       3

[3428 rows x 3 columns]

In [300]:
ratingDb.to_csv('RatingDB.csv',encoding='utf-8')

In [306]:
def recommend(ratingDb, targetUserId, numDish=20):
    recipeLst = []
    currentLst = list(ratingDb.dish_id[ratingDb["id"] == targetUserId])
    if len(currentLst)==0:
        if len(recipeLst)==0:
            for i in range(5):
                while True:
                    dish = np.random.choice(list(ratingDb.dish_id))
                    if dish not in recipeLst and dish not in currentLst:
                            recipeLst.append(dish)
                            break
    # Get the distance
    userId, distanceLst = getDistance(ratingDb, targetUserId)
    # Get the ID of the top users
    topUserIds, smallestDistance = getTopUser(userId, distanceLst, numDish)
    # Get the recipes ID
    recipeLst = []
    currentLst = list(ratingDb.dish_id[ratingDb["id"] == targetUserId])
    for i in range(len(topUserIds)):
        while True:
            dish = np.random.choice(list(ratingDb.dish_id[ratingDb["id"] == topUserIds[i]]))
            if dish not in currentLst:
                recipeLst.append(dish)
                break
    return recipeLst

In [307]:
def getTopUser(userId, distanceLst, numUser=20):
    nearestUser = []
    smallestDistance = []
    sortedIndex = np.argsort(distanceLst)
    i = 0
    while i < len(distanceLst) and len(nearestUser) < numUser:
        # Remove users that are identical
        if distanceLst[sortedIndex[i]] > 0:
            nearestUser.append(userId[sortedIndex[i]])
            smallestDistance.append(distanceLst[sortedIndex[i]])
        i += 1
    return nearestUser, smallestDistance

In [308]:
def getDistance(ratingDb, targetUser):
    userId = list(np.unique(ratingDb["id"]))
    print(userId)
    dishId = []
    rating = []
    distanceLst = [-1 for i in range(len(userId))]
    for i in range(len(userId) + 1):
        dishId.append(list(ratingDb.dish_id[ratingDb["id"] == i]))
        rating.append(list(ratingDb.rating[ratingDb["id"] == i]))
    print(dishId)
    print(rating)
    # For each user, calculate the distance the target user
    for i in range(len(userId)):
        distance = 0
        if i != userId.index(targetUser):
            for j in range(len(dishId[userId.index(targetUser)])):
                if dishId[userId.index(targetUser)][j] in dishId[i]:
                    index = dishId[i].index(dishId[userId.index(targetUser)][j])
                    distance += abs(rating[userId.index(targetUser)][j] - rating[i][index])
            distanceLst[i] = distance
    return userId, distanceLst

In [309]:
ratingdatabase=pd.read_csv("checkrate.csv")

In [310]:
c=recommend(ratingDb,115,20)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

ValueError: 115 is not in list

In [311]:
c

[2937,
 1136,
 7714,
 4059,
 3328,
 4658,
 3010,
 9723,
 7244,
 332,
 10566,
 8638,
 572,
 6885,
 7040,
 9996,
 7714,
 2768,
 9271,
 9025]

In [29]:
for i in range(len(c)):
    print(data.loc[data['RecipeId'] == c[i], 'Name'])

2163    Cantaloupe Fruit Salad
Name: Name, dtype: object
1207    Shrimp Fra Diavolo
Name: Name, dtype: object
2909    Tomato Beef
Name: Name, dtype: object
1513    Helen Gougeon's Pea Soup
Name: Name, dtype: object
2337    Buttermilk Pecan Pralines (Cook 'Em Horns)
Name: Name, dtype: object
3125    Deviled Eggs
Name: Name, dtype: object
2002    Lasagna Rolls
Name: Name, dtype: object
3363    Black Bean and Mandarin Orange Salad
Name: Name, dtype: object
1966    Fruit Tarts
Name: Name, dtype: object
1392    Bread and Butter Pudding
Name: Name, dtype: object
146    Thai Beef Salad
Name: Name, dtype: object
917    Cape Cod Cranberry Velvet Pie
Name: Name, dtype: object
841    Lemony Salmon Patties
Name: Name, dtype: object
650    Cheese and Meatball Soup
Name: Name, dtype: object
3178    Americano Cocktail
Name: Name, dtype: object
1327    Peanut Butter Pudding
Name: Name, dtype: object
3709    Banana Fritters
Name: Name, dtype: object
586    Low-Fat Apple Cake
Name: Name, dtype: object
1572    Shrimp Stir-Fry II
Name: Name, dtype: object
2570    Hunters Polish Sausage Sauerkraut Stew
Name: Name, dtype: object

In [58]:
c=[8517, 3233, 2575, 7443, 297, 9695, 2718, 7742, 8269, 3225, 3912, 10044, 
5344, 8538, 5071, 2892, 7414, 5223, 5234, 10320]

In [59]:
c=tuple(c)

In [60]:
selector="SELECT * from dataset WHERE RecipeId IN",c

In [61]:
selector

('SELECT * from dataset WHERE RecipeId IN',
 (8517,
  3233,
  2575,
  7443,
  297,
  9695,
  2718,
  7742,
  8269,
  3225,
  3912,
  10044,
  5344,
  8538,
  5071,
  2892,
  7414,
  5223,
  5234,
  10320))

In [47]:
c

In [38]:
c=";".join(c)

TypeError: sequence item 0: expected str instance, int found

In [63]:
numbing=("%s,"*4)[:-1]

In [64]:
numbing

'%s,%s,%s,%s'

In [96]:
dish="American"
SELECTOR='SELECT * from dataset WHERE Name LIKE "%'+dish+'%"'
print(SELECTOR)
dishl=[dish]
new_tup=tuple(dishl)
print
ingredients=('Frozen', 'Chicken', 'Beverages', 'Soy/Tofu')

SELECT * from dataset WHERE Name LIKE "%American%"

In [93]:
new_tup_n=new_tup+ingredients

In [94]:
new_tup_n

('American', 'Frozen', 'Chicken', 'Beverages', 'Soy/Tofu')

In [29]:
c="("+c+")"

In [30]:
c

'(8517;3233;2575;7443;297;9695;2718;7742;8269;3225;3912;10044;5344;8538;5071;2892;7414;5223;5234;10320)'

In [34]:
f=["1","2"]

In [35]:
int(f)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [7]:
listcuisine=list(np.unique(data.cuisine))

In [8]:
#for i in range(len(listcuisine)):
    #print(data.cuisine[data["cuisine"]==listcuisine[i]])

In [9]:
#list(data.dish_name[data["cuisine"]=="American"])

In [10]:
#for each user 
#select 5-8 cuisines
#select 5-18 dishes for each cuisine
#rate each dish 1-5

In [11]:
save_items_from_cuisine=list(data.New_ID[data["cuisine"]=="American"])
likesdish=np.random.choice(save_items_from_cuisine)
likesdish

181

In [12]:
users = []
for i in range(20):
    users.append(i)
listcuisine=list(np.unique(data.cuisine))
rating_db=[]
for i in range(len(users)):
    cuisine_list=[]
    dish_list=[]
    how_many_cuisine=np.random.randint(5,12)
    num=0
    while num <(how_many_cuisine):
        select_cuisine=np.random.randint(0,24)
        if select_cuisine not in cuisine_list:
            cuisine_list.append(select_cuisine)
            num=num+1
    for k in range(len(cuisine_list)):
        save_items_from_cuisine=list(data.New_ID[data["cuisine"]==listcuisine[cuisine_list[k]]])
        how_many_dishes=np.random.randint(17,len(save_items_from_cuisine))
        save_dish_id=[]
        ratingperuser=[]
        for num in range(how_many_dishes):
            likesdish=np.random.choice(save_items_from_cuisine)
            if likesdish not in save_dish_id:
                save_dish_id.append(likesdish)
                r=np.random.randint(1,5)
                rating_db.append([i,likesdish,r])
    print("done",i)

done 0
done 1
done 2
done 3
done 4
done 5
done 6
done 7
done 8
done 9
done 10
done 11
done 12
done 13
done 14
done 15
done 16
done 17
done 18
done 19

In [13]:
rating_db=pd.DataFrame(rating_db, columns=['id',"dish_id" ,'rating'])

In [14]:
len(rating_db.id[rating_db.id==0])

703

In [15]:
rating_db

       id  dish_id  rating
0       0     4917       2
1       0     4882       4
2       0     4976       4
3       0     4909       3
4       0     4829       4
...    ..      ...     ...
15707  19     4806       2
15708  19     4637       2
15709  19     4442       4
15710  19     4804       1
15711  19     4749       1

[15712 rows x 3 columns]

In [16]:
default_user=0

In [17]:
dish_id=[]
rating=[]
for i in range(max(rating_db.id)+1):
    dish_id.append(list(rating_db.dish_id[rating_db["id"]==i]))
    rating.append(list(rating_db.rating[rating_db["id"]==i]))

In [18]:
m=[-1 for i in range(len(users))]
for i in range(len(users)):
    absval=0
    if i != default_user:
        sim=0
        for j in range(len(dish_id[default_user])):
                if dish_id[default_user][j] in dish_id[i]:
                    userdishindex = j
                    botdishindex=dish_id[i].index(dish_id[default_user][j])
                    absval+=abs(rating[default_user][userdishindex]-rating[i][botdishindex])
        m[i]=absval

In [19]:
m

[-1,
 103,
 205,
 31,
 212,
 230,
 143,
 92,
 154,
 133,
 201,
 145,
 124,
 126,
 102,
 107,
 154,
 194,
 174,
 81]

In [20]:
listcuisine

['American',
 'Asian',
 'Barbecue',
 'Cajun & Creole',
 'Chinese',
 'Cuban',
 'English',
 'French',
 'German',
 'Greek',
 'Hawaiian',
 'Hungarian',
 'Indian',
 'Irish',
 'Italian',
 'Japanese',
 'Mediterranean',
 'Mexican',
 'Moroccan',
 'Portuguese',
 'Southern & Soul Food',
 'Southwestern',
 'Spanish',
 'Swedish',
 'Thai']

In [21]:
cur_cuisine=list(data.cuisine[data.New_ID==dish_id[0][0]])
cur_index=listcuisine.index(cur_cuisine[0])

In [31]:
cuisine_percentage=[[0 for _ in range(len(listcuisine))] for _ in range(len(users))]
for i in range(len(dish_id)):
    for j in range(len(dish_id[i])):
        cur_cuisine=list(data.cuisine[data.New_ID==dish_id[i][j]])[0]
        cur_index=listcuisine.index(cur_cuisine)
        cuisine_percentage[i][cur_index]+=1
    cuisine_percentage[i]=[(cuisine_percentage[i][j]*100)/sum(cuisine_percentage[i]) for j in range(len(cuisine_percentage[i]))]

In [34]:
cuisine_percentage

[[0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  18.349928876244665,
  0.0,
  0.0,
  0.0,
  16.500711237553343,
  0.0,
  14.935988620199147,
  0.0,
  0.0,
  0.0,
  0.0,
  11.66429587482219,
  0.0,
  15.93172119487909,
  0.0,
  16.500711237553343,
  6.116642958748222,
  0.0,
  0.0,
  0.0],
 [0.0,
  0.0,
  0.0,
  35.064935064935064,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  13.506493506493506,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  8.571428571428571,
  0.0,
  26.493506493506494,
  0.0,
  0.0,
  16.363636363636363,
  0.0],
 [19.19406150583245,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.4846235418875928,
  13.255567338282079,
  0.0,
  0.0,
  0.0,
  16.755037115588546,
  0.0,
  0.0,
  11.983032873807,
  14.528101802757158,
  7.953340402969247,
  0.0,
  0.0,
  0.0,
  14.846235418875928,
  0.0,
  0.0,
  0.0,
  0.0],
 [0.0,
  0.0,
  6.752411575562701,
  0.0,
  8.19935691318328,
  0.0,
  0.0,
  14.95176848874598,
  0.0,
  0.0,
  8.520900321543408,
  0.0,
  0.0,
  0.0,
  0.0,
  25.723472668810288,
  0.0,
  19.131832797427652,
  0.0,
  0.0,
  0.0,
  9.646302250803858,
  7.07395498392283,
  0.0,
  0.0],
 [0.0,
  0.0,
  7.615062761506276,
  0.0,
  0.0,
  12.301255230125523,
  0.9205020920502092,
  0.0,
  6.2761506276150625,
  0.0,
  0.0,
  12.217573221757322,
  0.0,
  9.205020920502092,
  21.08786610878661,
  0.0,
  0.0,
  14.811715481171548,
  6.192468619246862,
  9.372384937238493,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 [0.0,
  0.0,
  0.0,
  15.037593984962406,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  19.674185463659146,
  0.0,
  10.651629072681704,
  0.0,
  18.170426065162907,
  8.145363408521304,
  0.0,
  12.155388471177945,
  0.0,
  16.165413533834588,
  0.0,
  0.0,
  0.0,
  0.0],
 [0.0,
  0.0,
  0.0,
  0.0,
  13.307984790874524,
  0.0,
  0.0,
  0.0,
  0.0,
  18.88466413181242,
  0.0,
  0.0,
  0.0,
  0.0,
  22.813688212927758,
  8.491761723700888,
  0.0,
  3.041825095057034,
  0.0,
  7.731305449936628,
  13.434727503168569,
  8.745247148288973,
  0.0,
  3.5487959442332064,
  0.0],
 [0.0,
  0.0,
  3.4812880765883376,
  18.624891209747606,
  4.438642297650131,
  0.0,
  0.8703220191470844,
  9.660574412532638,
  0.0,
  0.0,
  0.0,
  15.317667536988687,
  0.0,
  2.8720626631853787,
  20.539599651871193,
  0.0,
  0.0,
  8.181026979982594,
  0.0,
  3.0461270670147953,
  0.0,
  0.0,
  12.967798085291557,
  0.0,
  0.0],
 [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  26.94736842105263,
  0.0,
  25.894736842105264,
  0.0,
  0.0,
  0.0,
  19.36842105263158,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  21.263157894736842,
  0.0,
  6.526315789473684,
  0.0,
  0.0,
  0.0],
 [8.937437934458789,
  30.18867924528302,
  0.0,
  0.0,
  8.540218470705064,
  6.454816285998014,
  0.0,
  0.0,
  0.0,
  18.073485600794438,
  6.653426017874876,
  0.0,
  0.0,
  8.440913604766633,
  0.0,
  12.711022840119165,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 [0.0,
  20.790216368767638,
  0.0,
  0.0,
  0.0,
  10.912511759172155,
  1.0348071495766697,
  0.0,
  0.0,
  23.424270931326436,
  0.0,
  13.076199435559737,
  0.0,
  2.634054562558796,
  16.650987770460958,
  0.0,
  0.0,
  11.47695202257761,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0],
 [0.0,
  0.0,
  2.059496567505721,
  0.0,
  0.0,
  0.0,
  0.8009153318077803,
  0.0,
  0.0,
  26.659038901601832,
  7.551487414187643,
  7.551487414187643,
  21.39588100686499,
  4.576659038901602,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  12.471395881006865,
  6.064073226544623,
  0.0,
  10.869565217391305,
  0.0,
  0.0],
 [0.0,
  0.0,
  17.8125,
  22.5,
  10.625,
  0.0,
  0.0,
  0.0,
  0.0,
  24.6875,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  8.4375,
  0.0,
  0.0,
  12.8125,
  3.125,
  0.0,
  0.0,
  0.0],
 [29.504504504504503,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.7027027027027026,
  0.0,
  0.0,
  50.67567567567568,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  8.558558558558559,
  0.0,
  0.0,
  0.0,
  8.558558558558559,
  0.0,
  0.0,
  0.0,
  0.0],
 [12.753623188405797,
  0.0,
  0.0,
  0.0,
  4.202898550724638,
  0.0,
  1.4492753623188406,
  0.0,
  0.0,
  0.0,
  5.6521739130434785,
  0.0,
  0.0,
  0.0,
  0.0,
  38.405797101449274,
  14.202898550724637,
  0.0,
  2.898550724637681,
  0.0,
  0.0,
  9.27536231884058,
  11.159420289855072,
  0.0,
  0.0],
 [0.0,
  27.566539923954373,
  19.771863117870723,
  0.0,
  0.0,
  0.0,
  0.0,
  16.34980988593156,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  12.547528517110266,
  0.0,
  14.828897338403042,
  0.0,
  8.935361216730039,
  0.0,
  0.0,
  0.0,
  0.0],
 [34.988179669030735,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  13.947990543735225,
  0.0,
  0.0,
  7.092198581560283,
  0.0,
  0.0,
  0.0,
  0.0,
  6.501182033096927,
  6.028368794326241,
  0.0,
  9.456264775413711,
  8.865248226950355,
  13.120567375886525,
  0.0,
  0.0,
  0.0,
  0.0],
 [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  21.775544388609717,
  0.0,
  0.0,
  0.0,
  39.36348408710218,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  24.12060301507538,
  0.0,
  0.0,
  0.0,
  7.5376884422110555,
  7.202680067001675,
  0.0,
  0.0],
 [19.385593220338983,
  0.0,
  12.711864406779661,
  0.0,
  8.36864406779661,
  0.0,
  1.0593220338983051,
  0.0,
  0.0,
  25.21186440677966,
  8.05084745762712,
  0.0,
  0.0,
  7.415254237288136,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  2.7542372881355934,
  15.042372881355933,
  0.0,
  0.0,
  0.0,
  0.0],
 [0.0,
  18.98238747553816,
  7.3385518590998045,
  0.0,
  4.794520547945205,
  9.29549902152642,
  1.2720156555772995,
  0.0,
  0.0,
  0.0,
  5.968688845401174,
  0.0,
  0.0,
  5.38160469667319,
  0.0,
  25.048923679060664,
  0.0,
  0.0,
  0.0,
  9.099804305283758,
  0.0,
  0.0,
  9.58904109589041,
  3.228962818003914,
  0.0]]

In [39]:
n=[-1 for i in range(len(users))]
for i in range(len(users)):
    absval=0
    if i != default_user:
        sim=0  
        userdishindex = default_user
        botdishindex=i
        for k in range(25):
            absval+=abs(cuisine_percentage[userdishindex][k]-cuisine_percentage[botdishindex][k])
        n[i]=absval

In [41]:
n

[-1,
 122.84273336904916,
 124.52887111591134,
 187.76671408250354,
 138.5774058577406,
 97.19569193253403,
 127.89583660105973,
 170.1280227596017,
 121.19487908961594,
 154.0889449528973,
 119.02115513542952,
 139.7674562434288,
 135.1235775248933,
 132.76434329065907,
 158.6410208835838,
 129.1428911400895,
 142.78959810874704,
 118.06543385490755,
 136.91383176218142,
 181.40900195694718]

In [50]:
distance_from_other_users=[]
for i in range(len(m)):
    if i!=default_user:
        distance_from_other_users.append(np.sqrt((m[i]**2)+(n[i]**2)))
    else:
        distance_from_other_users.append(-1)

In [51]:
distance_from_other_users

[-1,
 160.3101280068708,
 239.85920816471327,
 190.30853611265215,
 253.27395723654843,
 249.69381756512126,
 191.8497980710039,
 193.41029995347083,
 195.96989237519784,
 203.54950984145606,
 233.59588046404411,
 201.39498957213107,
 183.39678623990622,
 183.03652872964994,
 188.6026869028797,
 167.7107221736911,
 210.01159331822015,
 227.10228240012813,
 221.407762573499,
 198.6711503742193]

In [13]:
ingredients

'3,4,5,6'

In [12]:
ingredients=",".join(ingredients)

In [11]:
ingredients=("3","4","5","6")

In [37]:
for i in range(len(users)):
    user_likes=[]
    c=np.random.randint(0)
    for j in range(c):
        likesdish=np.random.randint(min(data["New_ID"]),max(data["New_ID"]))
        if likesdish not in user_likes:
            user_likes.append(likesdish)
    user[i][1] = user_likes

ValueError: low >= high

In [ ]:
user[1][1].append(6256)

In [ ]:
users = pd.DataFrame(user, columns=['id', 'food_id'])

In [ ]:
users

In [ ]:
#let default user be 0
import math
userA=0

In [ ]:
list_food_i=users.loc[0,"food_id"]

In [ ]:
list_food_i

In [ ]:
m=[-1 for i in range(len(users))]
for userB in range(len(users)):
        if userB!= userA:
            sim=0
            for j in range(len(list_food_i)):
                if list_food_i[j] in users.loc[userB,"food_id"]:
                    sim+=1
            m[userB]=1/(1+sim)
m = [item for item in m if item != -1]

In [ ]:
m

In [ ]:
top10=sorted(range(len(m)), key=lambda i: m[i])[0:10]

In [ ]:
users.food_id[top10[i]]

In [ ]:
list_food=[]
for i in range(10):
    fdm=users.food_id[top10[i]]
    for j in range(len(fdm)):
        if fdm[j] not in list_food_i and fdm[j] not in list_food:
            list_food.append(fdm[j])

In [ ]:
list_food

In [ ]:
len(users)

In [ ]:
m

In [ ]:
list20=[]

In [ ]:

list20.append(m.index(m.pop(m.index(min(m)))))

In [ ]:
list20

In [ ]:
score=0
sim=0
m = np.zeros((200, 200), dtype=float) 
for userA in range(len(users)):
    print(userA)
    list_food_i=users.loc[userA,"food_id"]
    print(list_food_i)
    for userB in range(userA+1,len(users)):
        sim=0
        for j in range(len(list_food_i)):
            if list_food_i[j] in users.loc[userB,"food_id"]:
                sim+=1
        m[userA][userB]=1/(1+sim)
        m[userB][userA]=1/(1+sim)

In [ ]:
print(m)

In [ ]:
g =np.random.randint(min(data["New_ID"]),max(data["New_ID"]))

In [ ]:
g

In [ ]:
#login register
#